/*!
 ******* Styles
 */

/* Menu */
.navbar, .dropdown-menu {
	background-color: rgb(167, 179, 190);
	border: none;
}
.nav > li > a, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a, .dropdown-menu > li {
	border-bottom: 1px solid transparent;
}
.nav > li > a:focus, .nav > li > a:hover, .nav .open > a, .nav .open > a:focus, .nav .open > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
	border-bottom: 1px solid transparent;
	background: none;
}
.navbar a.navbar-brand, .dropdown-menu > li > a, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .navbar-toggle {
	color: #fff;
}
.navbar-default .navbar-nav > li > a {
	color: #fff;
}
.dropdown-menu {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
.nav li:nth-child(8n+1), .nav li.active:nth-child(8n+1) {
	border-bottom: transparent 1px solid;
}
.nav li:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1) {
	border-bottom: #C4E17F 1px solid;
}
.nav li:hover:nth-child(8n+2), .nav li.active:nth-child(8n+2) {
	border-bottom: #F7FDCA 1px solid;
}
.nav li:hover:nth-child(8n+3), .nav li.active:nth-child(8n+3) {
	border-bottom: #FECF71 1px solid;
}
.nav li:hover:nth-child(8n+4), .nav li.active:nth-child(8n+4) {
	border-bottom: #F0776C 1px solid;
}
.nav li:hover:nth-child(8n+5), .nav li.active:nth-child(8n+5) {
	border-bottom: #DB9DBE 1px solid;
}
.nav li:hover:nth-child(8n+6), .nav li.active:nth-child(8n+6) {
	border-bottom: #C49CDE 1px solid;
}
.nav li:hover:nth-child(8n+7), .nav li.active:nth-child(8n+7) {
	border-bottom: #669AE1 1px solid;
}
.nav li:hover:nth-child(8n+8), .nav li.active:nth-child(8n+8) {
	border-bottom: #62C2E4 1px solid;
}
.navbar-toggle .icon-bar {
	color: #fff;
	background: #fff;
}
/* Buttons */

/* Homepage */
.good_days_chart {
	height: 300px;
	padding: 0;
	position: relative;
}
.home-right-column {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	font-size: smaller;
	color: rgb(84, 84, 84);
}
.home-right-column-bg-img {
	background-image: url('../images/home-graph-image.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}